In [113]:
from neo4j import GraphDatabase

In [114]:
URI = "neo4j://localhost:7687"
AUTH = ("neo4j","test1234")
DB = 'modeltemporaltest'
driver = GraphDatabase.driver(URI, auth=AUTH, database=DB)

In [115]:
#with GraphDatabase.driver(URI, auth=AUTH) as driver: 
#    driver.verify_connectivity()

In [116]:
call_graph = driver.session()
print(call_graph)

df = call_graph.run("""
    MATCH (m:Molecule)
    RETURN m.snapshot as snap, count(m) as cnt_m
""").to_df()

df

<neo4j._sync.work.session.Session object at 0x7f0bb7d0a4a0>

    snap  cnt_m
0      9   3673
1     10   4213
2      2   3097
3     11   4574
4      0   2988
5      1   2973
6      3   3335
7      4   3364
8      5   3228
9      7   3479
10     8   3558
11    12   4671
12     6   3367

In [108]:
call_graph.close()

In [91]:
with GraphDatabase.driver(URI, auth=AUTH, database=DB) as driver:
    driver.verify_connectivity()
    with driver.session() as call_graph:
        print(call_graph)
        result = call_graph.run(
            "MATCH (m) "
            "WHERE m.snapshot = 10 "
            "RETURN count(m) as cnt_m"
        ).to_df()
        #df = result.to_df()

result

<neo4j._sync.work.session.Session object at 0x7f0bb7ceec80>

   cnt_m
0   4213